.App {
  position: relative;
  height: 100vh;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  text-align: center;
  width: auto;
}

main {
  display: flex;
  flex-direction: column;
}

header {
  margin-bottom: 3rem;
}

header .App_logo {
  object-fit: cover;
}

.App__Form {
  display: flex;
  flex-direction: column;
}

.App__Form__Input {
  margin-bottom: 1.5rem;
}

.App__TermsAndConditions {
  margin-top: 1rem;
}