.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: auto;
}

header {
  margin-bottom: 2rem;
}

.App__Form {
  display: flex;
  flex-direction: column;
}

.App__Form__Input {
  margin-bottom: 1.5rem;
}
